<aside class="col-2">
  <div id="sidebarLeft" class="d-flex flex-column flex-shrink-0 p-3 sticky-top">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <span class="fs-4"
        ><svg
          width="28"
          height="23"
          viewBox="0 0 28 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M28 2.72822C26.9703 3.18925 25.8642 3.50076 24.7013 3.64157C25.9012 2.91611 26.7988 1.77434 27.2268 0.429283C26.0995 1.10587 24.8658 1.58211 23.5791 1.8373C22.7139 0.903854 21.5679 0.285149 20.3191 0.0772448C19.0702 -0.130659 17.7884 0.0838706 16.6725 0.687527C15.5567 1.29118 14.6693 2.25019 14.1482 3.41566C13.627 4.58113 13.5012 5.88786 13.7904 7.13296C11.5062 7.01707 9.27163 6.41717 7.23174 5.37219C5.19185 4.32721 3.39221 2.8605 1.94962 1.06725C1.45635 1.92702 1.17273 2.92385 1.17273 3.98547C1.17218 4.94118 1.4051 5.88224 1.85081 6.72517C2.29653 7.5681 2.94127 8.28684 3.72783 8.8176C2.81563 8.78827 1.92356 8.53922 1.12587 8.09116V8.16592C1.12578 9.50634 1.58464 10.8055 2.42461 11.843C3.26457 12.8804 4.43389 13.5923 5.73417 13.8578C4.88796 14.0892 4.00077 14.1233 3.13961 13.9575C3.50647 15.1109 4.22108 16.1194 5.1834 16.842C6.14572 17.5646 7.30757 17.965 8.5063 17.9872C6.47139 19.6013 3.95829 20.4769 1.37127 20.473C0.913004 20.4732 0.455128 20.4461 0 20.392C2.62597 22.0981 5.68279 23.0035 8.80472 23C19.3729 23 25.1502 14.1556 25.1502 6.48502C25.1502 6.23581 25.144 5.98411 25.1329 5.73491C26.2567 4.91374 27.2267 3.89687 27.9975 2.73196L28 2.72822Z"
            fill="#1D9BF0"
          />
        </svg>
      </span>
    </a>
    <ul class="nav nav-pills flex-column mb-auto mt-4">
      <li class="nav-item w-100">
        <a href="/" class="sidebar_left_a nav-link" aria-current="page">
          <div class="div_main_links d-flex flex-row" style="height: 30px">
            <div>
              <svg
                width="24"
                height="22"
                viewBox="0 0 24 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.4618 6.05463L12.5243 0.130386C12.3663 0.0448066 12.1896 0 12.0101 0C11.8307 0 11.654 0.0448066 11.496 0.130386L0.563955 6.05463C0.353129 6.17042 0.186589 6.35321 0.0904882 6.5743C-0.00561247 6.79539 -0.0258301 7.04226 0.0330102 7.27614C0.0918506 7.51002 0.226416 7.71765 0.415574 7.86644C0.604732 8.01523 0.837768 8.09675 1.07809 8.09818C1.25127 8.09818 1.42878 8.0569 1.59222 7.96781L2.38669 7.53759L4.10767 19.7598C4.34147 21.0787 5.5256 22 6.98681 22H17.0335C18.4947 22 19.6788 21.0787 19.9148 19.7316L21.6336 7.5365L22.4313 7.9689C22.6829 8.09588 22.9739 8.11946 23.2425 8.03464C23.5111 7.94981 23.7362 7.76325 23.87 7.51457C24.0038 7.26588 24.0358 6.97465 23.9592 6.70268C23.8825 6.43071 23.7033 6.19941 23.4596 6.05789L23.4618 6.05463ZM12.0101 14.8383C11.0772 14.8383 10.1824 14.4663 9.52273 13.8042C8.86302 13.142 8.49241 12.2439 8.49241 11.3075C8.49241 10.371 8.86302 9.47293 9.52273 8.81077C10.1824 8.1486 11.0772 7.7766 12.0101 7.7766C12.9431 7.7766 13.8379 8.1486 14.4976 8.81077C15.1573 9.47293 15.5279 10.371 15.5279 11.3075C15.5279 12.2439 15.1573 13.142 14.4976 13.8042C13.8379 14.4663 12.9431 14.8383 12.0101 14.8383Z"
                  fill="black"
                />
              </svg>
            </div>
            <div class="" style="margin-left: 10px; margin-top: 2px">
              <p class="text_sidebar_left">Home</p>
            </div>
          </div>
        </a>
      </li>
      <% if (user) {%>
      <li class="nav-item w-100">
        <a href="/users/<%=user.username%>" class="sidebar_left_a nav-link link-dark ms-1">
          <div class="div_main_links d-flex flex-row" style="height: 30px">
            <div>
              <svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.00011 10.9892C10.4604 10.9892 12.0954 10.8269 13.1386 9.63068C14.0159 8.62478 14.3004 7.06942 14.0073 4.88024C13.5977 1.82468 11.7257 0 9.00011 0C6.27453 0 4.40251 1.82468 3.99297 4.8824C3.69983 7.06942 3.98435 8.62478 4.86162 9.63068C5.90487 10.828 7.53979 10.9892 9.00011 10.9892ZM5.59448 5.09656C5.76907 3.79862 6.44266 1.62242 9.00011 1.62242C11.5576 1.62242 12.2312 3.7997 12.4057 5.09656C12.6288 6.77306 12.4672 7.93795 11.9208 8.56313C11.4304 9.12557 10.5564 9.36677 9.00011 9.36677C7.44387 9.36677 6.56983 9.12557 6.07946 8.56313C5.53305 7.93795 5.37139 6.77198 5.59448 5.09656ZM17.9237 19.0147C16.9786 15.201 13.3089 12.5359 9.00011 12.5359C4.69134 12.5359 1.02167 15.201 0.0764968 19.0147C-0.108873 19.7632 0.04632 20.529 0.5022 21.1131C0.941915 21.6755 1.62304 22 2.36991 22H15.6303C16.3772 22 17.0583 21.6755 17.498 21.1131C17.955 20.529 18.1091 19.7643 17.9227 19.0147H17.9237ZM16.2252 20.1137C16.0894 20.2867 15.8847 20.3797 15.6303 20.3797H2.36991C2.11664 20.3797 1.9108 20.2878 1.775 20.1137C1.70093 20.0136 1.65075 19.8977 1.62833 19.7751C1.6059 19.6524 1.61184 19.5263 1.64567 19.4063C2.41086 16.3183 5.43606 14.1605 9.00011 14.1605C12.5642 14.1605 15.5894 16.3172 16.3546 19.4063C16.4192 19.668 16.3729 19.9255 16.2252 20.1137Z"
                  fill="black"
                />
              </svg>
            </div>
            <div class="text_sidebar_left" style="margin-left: 10px; margin-top: 2px">
              <p>Profile</p>
            </div>
          </div>
        </a>
      </li>
      <% } %>

      <li class="w-100" style="display: flex; justify-content: center; position: relative">
        <button id="btnTweeter" class="mt-5" style="border: none">
          <a href="/" class="nav-link" style="color: white">Tweet </a>
        </button>
        <svg
          id="btnTweeter2"
          class="mt-5"
          width="52"
          height="52"
          viewBox="0 0 52 52"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 26C0 11.6406 11.6406 0 26 0C40.3594 0 52 11.6406 52 26C52 40.3594 40.3594 52 26 52C11.6406 52 0 40.3594 0 26Z"
            fill="#1D9BF0"
          />
          <path
            d="M22.3218 20.0182H18.5684V16.0462C18.5684 15.5647 18.2165 15.0833 17.6301 15.0833C17.0436 15.0833 16.809 15.5647 16.809 16.0462V20.0182H12.9383C12.4692 20.0182 12 20.3793 12 20.9811C12 21.5829 12.3519 21.944 12.9383 21.944H16.809V25.916C16.809 26.3975 17.1609 26.879 17.7474 26.879C18.3338 26.879 18.6857 26.5179 18.6857 25.916V21.8237H22.5564C23.0256 21.8237 23.4947 21.4626 23.4947 20.8608C23.4947 20.2589 22.9083 20.0182 22.3218 20.0182ZM39.9158 14.1204V14H39.7985C39.6812 14 29.0075 15.4444 22.9083 28.0826C18.4511 37.2303 18.6857 39.9986 19.0376 39.9986C19.3895 40.119 23.0256 32.175 26.8963 28.9251C32.9955 27.6011 34.6376 24.592 34.6376 24.592C34.6376 24.592 32.8782 24.8328 32.1745 24.8328C31.2361 24.8328 30.5324 24.592 30.1805 24.4717C31.7053 23.0273 32.9955 22.6662 34.2857 22.4255C35.3414 22.1848 36.397 21.944 37.8045 20.9811C40.385 19.0553 40.0331 14.3611 39.9158 14.1204Z"
            fill="white"
          />
        </svg>
      </li>
    </ul>
    <% if (user) {%>
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle me-2"
        id="dropdownUser2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="/img/<%=user.profileImg%>"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <p class="text_sidebar_left" style="padding-top: 10px">
          <strong><%=user.firstname%> <%=user.lastname.slice(0,1)%>.</strong>
        </p>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li id="li_profile_dropdown">
          <a class="dropdown-item" href="/users/<%=user.username%>">
            <svg
              width="25"
              height="18"
              viewBox="0 0 18 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.00011 10.9892C10.4604 10.9892 12.0954 10.8269 13.1386 9.63068C14.0159 8.62478 14.3004 7.06942 14.0073 4.88024C13.5977 1.82468 11.7257 0 9.00011 0C6.27453 0 4.40251 1.82468 3.99297 4.8824C3.69983 7.06942 3.98435 8.62478 4.86162 9.63068C5.90487 10.828 7.53979 10.9892 9.00011 10.9892ZM5.59448 5.09656C5.76907 3.79862 6.44266 1.62242 9.00011 1.62242C11.5576 1.62242 12.2312 3.7997 12.4057 5.09656C12.6288 6.77306 12.4672 7.93795 11.9208 8.56313C11.4304 9.12557 10.5564 9.36677 9.00011 9.36677C7.44387 9.36677 6.56983 9.12557 6.07946 8.56313C5.53305 7.93795 5.37139 6.77198 5.59448 5.09656ZM17.9237 19.0147C16.9786 15.201 13.3089 12.5359 9.00011 12.5359C4.69134 12.5359 1.02167 15.201 0.0764968 19.0147C-0.108873 19.7632 0.04632 20.529 0.5022 21.1131C0.941915 21.6755 1.62304 22 2.36991 22H15.6303C16.3772 22 17.0583 21.6755 17.498 21.1131C17.955 20.529 18.1091 19.7643 17.9227 19.0147H17.9237ZM16.2252 20.1137C16.0894 20.2867 15.8847 20.3797 15.6303 20.3797H2.36991C2.11664 20.3797 1.9108 20.2878 1.775 20.1137C1.70093 20.0136 1.65075 19.8977 1.62833 19.7751C1.6059 19.6524 1.61184 19.5263 1.64567 19.4063C2.41086 16.3183 5.43606 14.1605 9.00011 14.1605C12.5642 14.1605 15.5894 16.3172 16.3546 19.4063C16.4192 19.668 16.3729 19.9255 16.2252 20.1137Z"
                fill="black"
              /></svg
            >Profile</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item" href="/auth/logout"
            ><svg
              width="25"
              height="25"
              viewBox="0 0 52 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 26C0 11.6406 11.6406 0 26 0C40.3594 0 52 11.6406 52 26C52 40.3594 40.3594 52 26 52C11.6406 52 0 40.3594 0 26Z"
                fill="#DC3545"
              />
              <path
                d="M21.125 18.2857C22.0238 18.2857 22.75 17.5516 22.75 16.6429C22.75 15.7342 22.0238 15 21.125 15H17.875C15.1836 15 13 17.2076 13 19.9286V33.0714C13 35.7924 15.1836 38 17.875 38H21.125C22.0238 38 22.75 37.2659 22.75 36.3571C22.75 35.4484 22.0238 34.7143 21.125 34.7143H17.875C16.9762 34.7143 16.25 33.9801 16.25 33.0714V19.9286C16.25 19.0199 16.9762 18.2857 17.875 18.2857H21.125ZM38.6191 27.3933C38.8629 27.1623 39 26.8388 39 26.5C39 26.1612 38.8629 25.8377 38.6191 25.6067L31.3066 18.6246C30.9512 18.2857 30.4332 18.1933 29.9863 18.3884C29.5395 18.5835 29.25 19.0301 29.25 19.5179V23.2143H22.75C21.8512 23.2143 21.125 23.9484 21.125 24.8571V28.1429C21.125 29.0516 21.8512 29.7857 22.75 29.7857H29.25V33.4821C29.25 33.975 29.5395 34.4165 29.9863 34.6116C30.4332 34.8067 30.9512 34.7143 31.3066 34.3754L38.6191 27.3933Z"
                fill="white"
              />
            </svg>
            Sign out</a
          >
        </li>
      </ul>
    </div>
    <%} %>
  </div>
</aside>
