<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6">
          <h3 class="main-font"><strong>Home</strong></h1>
            <div class="row pb-1">
              <div class="col-2">
                <img
                  class="img-fluid w-100 rounded-circle"
                  style="width: 4rem; height: 4rem"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRD5urn4Rut_QlBQwOCxkl50AtTX-xkqjE1w&usqp=CAU"
                  alt="User image"
                />
              </div>
              <div class="col-10">
                <span class="d-inline-block pb-1 pr-1 main-font"
                  ><strong><%=user.firstname%> <%=user.lastname%></strong></span
                >
                <span>@pedrohernandez - 4h</span>
                <p class="text-left main-font">
                  One morning, when Gregor Samsa woke from troubled dreams, he found himself
                  transformed in his bed into a horrible vermin.
                </p>
                <i class="fa-solid fa-heart" style="color: #fd1c6b"></i>
                <span>5</span>
              </div>
            </div>
          <%for (user of users) {%>
          <div class="row pb-1">
            <div class="col-2">
              <img
                class="img-fluid w-100 rounded-circle"
                style="width: 4rem; height: 4rem"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRD5urn4Rut_QlBQwOCxkl50AtTX-xkqjE1w&usqp=CAU"
                alt="User image"
              />
            </div>
            <div class="col-10">
              <span class="d-inline-block pb-1 pr-1 main-font"
                ><strong><%=user.firstname%> <%=user.lastname%></strong></span
              >
              <span>@pedrohernandez - 4h</span>
              <p class="text-left main-font">
                One morning, when Gregor Samsa woke from troubled dreams, he found himself
                transformed in his bed into a horrible vermin.
              </p>
              <i class="fa-solid fa-heart" style="color: #fd1c6b"></i>
              <span>5</span>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/1c469dc273.js" crossorigin="anonymous"></script>
  </body>
</html>
