<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
    <title>Twitter Profile / Twitter</title>
    <link rel="icon" type="image/png" href="/img/twitterlogo.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
  </head>

  <body>
    <div class="container" style="position: relative">
      <div class="row g-0">
        <%- include("../partials/sideBarLeft") %>
        <div id="main_content" class="d-flex flex-column flex-shrink-0 col-10 col-lg-6">
          <!-- Header con blur -->
          <div id="header-container" class="d-flex" style="z-index: 100">
            <div id="back-link" class="me-3" style="padding-left: 0px">
              <a href="/">
                <img src="/img/flecha.svg" alt="Back" />
              </a>
            </div>
            <div id="username" class="d-flex flex-column ms-3">
              <h3><%=userProf.firstname%></h3>
              <span
                ><%=userProf.tweets.length%> <%=userProf.tweets.length === 1 ? "tweet" :
                "tweets"%></span
              >
            </div>
          </div>

          <!-- Div para poner foto de portada -->
          <div id="profile_portrait"></div>

          <!-- Div para la información del usuario -->
          <div id="profile_info">
            <div id="profile_info_2" class="ms-2">
              <h1 id="profile_name"><%=userProf.firstname%> <%=userProf.lastname%></h1>
              <div class="d-flex justify-content-between">
                <div><span id="profile_username">@<%=userProf.username%></span></div>
                <div class="justify-content-end">
                  <a
                    href="/users/<%=userProf.username%>/followers"
                    style="text-decoration: none; color: black"
                  >
                    <span class="profile_numbers"><%=userProf.followers.length%></span>
                    <span class="profile_ff">Followers</span></a
                  >
                  <a
                    href="/users/<%=userProf.username%>/following"
                    style="text-decoration: none; color: black"
                    ><span class="profile_numbers"><%=userProf.following.length%></span>
                    <span class="profile_ff">Following</span></a
                  >
                </div>
              </div>
            </div>
            <% if(user){ %>
            <div id="div_profile_img" class="ms-3">
              <img id="profile_img" src=<%= userProf.profileImg.includes("http") ?
              userProf.profileImg : "/img/" + (user && user.id === userProf.id ? user.profileImg :
              userProf.profileImg) %> />
            </div>
            <% } %>

            <div id="edit_profile">
              <% if (String(user.id) === String(userProf.id)) {%>
              <button
                id="btn_edit_profile"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalCenteredScrollable"
              >
                Edit profile
              </button>
              <!-- modal editar usuario -->
              <div
                class="modal fade"
                id="exampleModalCenteredScrollable"
                tabindex="-1"
                aria-labelledby="exampleModalCenteredScrollableTitle"
                style="display: none"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content p-5">
                    <div class="d-flex justify-content-end mb-3">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <div id="form-col">
                      <form
                        class="mb-5"
                        method="POST"
                        action="/users/edit?_method=PATCH"
                        enctype="multipart/form-data"
                      >
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="firstname"
                            name="firstname"
                            placeholder="First name"
                            value="<%=user.firstname%>"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="lastname"
                            name="lastname"
                            placeholder="Last name"
                            value="<%=user.lastname%>"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Email"
                            value="<%=user.email%>"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Username"
                            value="<%=user.username%>"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            class="form-control form-control"
                            type="file"
                            id="image"
                            name="image"
                          />
                        </div>
                        <div class="mb-5">
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                          />
                        </div>
                        <button id="btn-save-changes" type="submit" class="btn w-100">
                          Save changes
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button class="btn" ></button> -->
              <% } else { %> <% if(user.following.includes(String(userProf.id))) {%>
              <form action="/users/<%=userProf.id%>/follow?_method=PATCH" method="post">
                <button id="following-btn-profile"></button>
              </form>
              <% } else { %>
              <form action="/users/<%=userProf.id%>/follow?_method=PATCH" method="post">
                <button id="btn_edit_profile">Follow</button>
              </form>
              <% } %> <% } %>
            </div>
            <div>
              <div class="d-flex align-items-center ms-1 mt-1">
                <div>
                  <svg
                    width="28"
                    height="20"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    class="r-1bwzh9t r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"
                  >
                    <g>
                      <path
                        d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <div class="mt-1 profile_ff">Se unió en agosto de 2013</div>
              </div>
            </div>

            <!-- Div para la "navegación del perfil" -->
            <div class="mt-4">
              <ul class="nav ms-2">
                <li class="nav-item me-4" style="border-bottom: 5px solid #1d9bf0">
                  <a id="nav_letter" class="nav-link active" href="#" style="color: black"
                    >Tweets</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    id="nav_letter"
                    class="nav-link active"
                    href="/users/<%=userProf.username%>/retweets"
                    style="color: black"
                    >Retweets</a
                  >
                </li>
              </ul>
            </div>
            <!-- Aquí termina el div para la "navegación del perfil" -->
          </div>
          <!-- Aqui comienzan los tweets del usuario, debemos agregar for para poder listar los tweets -->
          <% for (const tweet of userProf.tweets) {%>
          <div class="row p-3 g-0 tweet-row tweet-hover-effect">
            <div class="d-flex col-2 justify-content-center">
              <img class="img-fluid rounded-circle" style="width: 50px; height: 50px" src=<%=
              userProf.profileImg.includes("http") ? userProf.profileImg : "/img/" +
              userProf.profileImg %> alt="User image" alt="User image" />
            </div>
            <div class="col-10">
              <span class="d-inline-block pb-1 pr-1 main-font"
                ><strong><%=userProf.firstname%> <%=userProf.lastname%></strong></span
              >
              <span>@<%=userProf.username%> - 4h</span>
              <p class="text-left main-font"><%=tweet.body%></p>
              <div id="likes-delete-box" class="d-flex justify-content-between">
                <div id="likes-box" class="d-flex">
                  <div id="likes">
                    <form action="/users/<%=tweet.id%>/like?_method=PATCH" method="POST">
                      <button id="like-btn" type="submit">
                        <% if (!tweet.likes.includes(String(user.id))) { %>
                        <i class="fa-regular fa-heart"></i>
                        <% } else { %>
                        <i class="fa-solid fa-heart" style="color: #fd1c6b"></i>
                        <% } %>
                      </button>
                    </form>
                  </div>

                  <div class="me-4" id="likes-length">
                    <span><%= tweet.likes.length %></span>
                  </div>
                  <div class="me-4" id="retweets">
                    <i class="fa-solid fa-retweet"></i>
                    <span>0</span>
                  </div>
                  <div id="views">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>0</span>
                  </div>
                </div>
                <% if (String(user.id) === String(userProf.id)) {%>
                <div id="delete">
                  <button id="delete-tweet-btn" onclick="showAlert()">
                    <img
                      src="/img/delete-emoji.svg"
                      alt="delete"
                      style="width: 17px; height: 17px"
                    />
                  </button>
                </div>
                <form
                  id="deleteTweetForm"
                  action="/users/<%=tweet.id%>/delete?_method=DELETE"
                  method="POST"
                  style="display: none"
                ></form>
                <% } %>
              </div>
            </div>
          </div>
          <%}%>
          <!-- Aqui terminan los tweets -->
        </div>
        <%- include("../partials/sideBarRight") %>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/1c469dc273.js" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script>
      //Function delete tweeter
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn custom-confirm-button-class ms-2 text-white",
          cancelButton: "btn btn-secondary",
        },
        buttonsStyling: false,
      });

      function showAlert() {
        swalWithBootstrapButtons
          .fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true,
          })
          .then((result) => {
            if (result.isConfirmed) {
              document.getElementById("deleteTweetForm").submit();
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire("Cancelled", "Your tweet is safe :)", "error");
            }
          });
      }
      const tweetDeleted = new URLSearchParams(window.location.search).get("tweetDelete");
      console.log(tweetDeleted);
      if (Number(tweetDeleted) === 1) {
        swalWithBootstrapButtons.fire("Deleted!", "Your file has been deleted.", "success");
        console.log("Hola");
      }
      //Alert for unique
      const failure = new URLSearchParams(window.location.search).get("error");
      if (Number(failure) === 1) {
        Swal.fire({
          title: "Error!",
          text: "Username or Email already used",
          icon: "error",
          confirmButtonText: "Okay",
          customClass: {
            confirmButton: "custom-confirm-button-class",
          },
        });
      }
    </script>
  </body>
</html>
