<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
    <title>Twitter Profile / Twitter</title>
    <link rel="icon" type="image/png" href="/img/twitterlogo.png" />
  </head>

  <body>
    <div class="container" style="position: relative">
      <div class="row g-0">
        <%- include("../partials/sideBarLeft") %>
        <div id="main_content" class="d-flex flex-column flex-shrink-0 col-10 col-lg-6">
          <!-- Header con blur -->
          <div id="header-container" class="d-flex" style="z-index: 100">
            <div id="back-link" class="me-3" style="padding-left: 0px">
              <a href="/">
                <img src="/img/flecha.svg" alt="Back" />
              </a>
            </div>
            <div id="username" class="d-flex flex-column ms-3">
              <h3><%=userProf.firstname%></h3>
              <span
                ><%=userProf.tweets.length%> <%=userProf.tweets.length === 1 ? "tweet" :
                "tweets"%></span
              >
            </div>
          </div>

          <!-- Div para poner foto de portada -->
          <div id="profile_portrait"></div>

          <!-- Div para la información del usuario -->
          <div id="profile_info">
            <div id="profile_info_2" class="ms-2">
              <h1 id="profile_name"><%=userProf.firstname%> <%=userProf.lastname%></h1>
              <div class="d-flex justify-content-between">
                <div><span id="profile_username">@<%=userProf.username%></span></div>
                <div class="justify-content-end">
                  <a
                    href="/users/<%=userProf.username%>/followers"
                    style="text-decoration: none; color: black"
                  >
                    <span class="profile_numbers"><%=userProf.followers.length%></span>
                    <span class="profile_ff">Followers</span></a
                  >
                  <a
                    href="/users/<%=userProf.username%>/following"
                    style="text-decoration: none; color: black"
                    ><span class="profile_numbers"><%=userProf.following.length%></span>
                    <span class="profile_ff">Following</span></a
                  >
                </div>
              </div>
            </div>
            <% if(user){ %>
            <div id="div_profile_img" class="ms-3">
              <img id="profile_img" src=<%= userProf.profileImg.includes("http") ?
              userProf.profileImg : "/img/" + (user && user.id === userProf.id ? user.profileImg :
              userProf.profileImg) %> />
            </div>
            <% } %>

            <div id="edit_profile">
              <% if (String(user.id) === String(userProf.id)) {%>
              <button
                id="btn_edit_profile"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalCenteredScrollable"
              >
                Edit profile
              </button>
              <!-- modal editar usuario -->
              <div
                class="modal fade"
                id="exampleModalCenteredScrollable"
                tabindex="-1"
                aria-labelledby="exampleModalCenteredScrollableTitle"
                style="display: none"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content p-5">
                    <div class="d-flex justify-content-end mb-3">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <div id="form-col">
                      <form
                        class="mb-5"
                        method="POST"
                        action="/auth/register"
                        enctype="multipart/form-data"
                      >
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="firstname"
                            name="firstname"
                            placeholder="First name"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="lastname"
                            name="lastname"
                            placeholder="Last name"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Email"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Username"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            class="form-control form-control"
                            type="file"
                            id="image"
                            name="image"
                          />
                        </div>
                        <div class="mb-5">
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                          />
                        </div>
                        <button id="btn-save-changes" type="submit" class="btn w-100">
                          Save changes
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button class="btn" ></button> -->
              <% } else { %> <% if(user.following.includes(String(userProf.id))) {%>
              <form action="/users/<%=userProf.id%>/follow?_method=PATCH" method="post">
                <button id="following-btn-profile"></button>
              </form>
              <% } else { %>
              <form action="/users/<%=userProf.id%>/follow?_method=PATCH" method="post">
                <button id="btn_edit_profile">Follow</button>
              </form>
              <% } %> <% } %>
            </div>
            <div>
              <div class="d-flex align-items-center ms-1 mt-1">
                <div>
                  <svg
                    width="28"
                    height="20"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    class="r-1bwzh9t r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"
                  >
                    <g>
                      <path
                        d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <div class="mt-1 profile_ff">Se unió en agosto de 2013</div>
              </div>
            </div>

            <!-- Div para la "navegación del perfil" -->
            <div class="mt-4">
              <ul class="nav ms-2">
                <li class="nav-item me-4">
                  <a
                    id="nav_letter"
                    class="nav-link active"
                    href="/users/<%=userProf.username%>"
                    style="color: #000000"
                    >Tweets</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    id="nav_letter"
                    class="nav-link active"
                    href="/users/<%=userProf.username%>/retweets"
                    style="color: #000000; border-bottom: 5px solid #1d9bf0"
                    >Retweets</a
                  >
                </li>
              </ul>
            </div>
            <!-- Aquí termina el div para la "navegación del perfil" -->
          </div>
          <!-- Aqui comienzan los retweets del usuario, debemos agregar for para poder listar los tweets -->
          <div class="row p-3 g-0 tweet-row tweet-hover-effect">
            <div class="d-flex col-2 justify-content-center"></div>
            <div class="col-10">
              <svg
                fill="#000000"
                height="20px"
                width="20px"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 492.804 492.804"
                xml:space="preserve"
                stroke="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke="#CCCCCC"
                  stroke-width="0.120"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g>
                      <path
                        d="M482.592,381.614L288.863,69.966c-11.22-18.044-26.348-27.96-42.656-27.96c-16.32,0-31.456,9.924-42.672,27.976 L10.267,381.142c-11.216,18.04-13.316,35.268-5.94,48.564c7.432,13.38,23.36,20.728,44.864,20.752l394.608,0.3h-0.336v0.04 c19.272,0,37.56-7.316,44.984-20.652C495.824,416.89,493.808,399.666,482.592,381.614z M256.96,388.59 c-2.868,2.86-6.736,4.484-10.792,4.484c-4.048,0-7.988-1.64-10.868-4.5c-2.856-2.86-4.476-6.852-4.472-10.932 c0.008-4.056,0.956-8.024,3.82-10.86c2.924-2.888,5.404-4.54,9.26-4.54l0.72-0.008c4.04,0,8.84,1.66,11.744,4.564 c2.872,2.856,4.932,6.812,4.924,10.876C261.292,381.762,259.852,385.742,256.96,388.59z M246.216,331.398 c-4.12,0-7.94-1.6-10.852-4.512c-2.912-2.916-4.488-6.792-4.484-10.92l-1.616-139.068c0.016-8.512,5.972-15.416,13.684-15.416 h1.772c4.124,0,8.88,1.604,11.788,4.52c2.916,2.92,4.932,6.788,4.928,10.916l0.1,139.068 C261.528,324.482,254.724,331.398,246.216,331.398z"
                      ></path>
                    </g>
                  </g>
                </g></svg
              ><strong class="ms-3">There are no retweets to show</strong>
            </div>
          </div>
        </div>
        <!-- Aqui terminan los retweets -->

        <%- include("../partials/sideBarRight") %>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/1c469dc273.js" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
